=begin
PureCloud Platform API

With the PureCloud Platform API, you can control all aspects of your PureCloud environment. With the APIs you can access the system configuration, manage conversations and more.

OpenAPI spec version: v2
Contact: DeveloperEvangelists@genesys.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: ININ
http://www.inin.com

Terms of Service: https://developer.mypurecloud.com/tos

=end

require "uri"

module PureCloud
  class OutboundApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete attempt limits
    # 
    # @param attempt_limits_id Attempt limits ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_attemptlimit(attempt_limits_id, opts = {})
      delete_outbound_attemptlimit_with_http_info(attempt_limits_id, opts)
      return nil
    end

    # Delete attempt limits
    # 
    # @param attempt_limits_id Attempt limits ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_attemptlimit_with_http_info(attempt_limits_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_attemptlimit ..."
      end
      
      
      # verify the required parameter 'attempt_limits_id' is set
      fail ArgumentError, "Missing the required parameter 'attempt_limits_id' when calling OutboundApi.delete_outbound_attemptlimit" if attempt_limits_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/attemptlimits/{attemptLimitsId}".sub('{format}','json').sub('{' + 'attemptLimitsId' + '}', attempt_limits_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_attemptlimit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete callable time set
    # 
    # @param callable_time_set_id Callable Time Set ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_callabletimeset(callable_time_set_id, opts = {})
      delete_outbound_callabletimeset_with_http_info(callable_time_set_id, opts)
      return nil
    end

    # Delete callable time set
    # 
    # @param callable_time_set_id Callable Time Set ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_callabletimeset_with_http_info(callable_time_set_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_callabletimeset ..."
      end
      
      
      # verify the required parameter 'callable_time_set_id' is set
      fail ArgumentError, "Missing the required parameter 'callable_time_set_id' when calling OutboundApi.delete_outbound_callabletimeset" if callable_time_set_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/callabletimesets/{callableTimeSetId}".sub('{format}','json').sub('{' + 'callableTimeSetId' + '}', callable_time_set_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_callabletimeset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a dialer call analysis response set.
    # 
    # @param call_analysis_set_id Call Analysis Response Set ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_callanalysisresponseset(call_analysis_set_id, opts = {})
      delete_outbound_callanalysisresponseset_with_http_info(call_analysis_set_id, opts)
      return nil
    end

    # Delete a dialer call analysis response set.
    # 
    # @param call_analysis_set_id Call Analysis Response Set ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_callanalysisresponseset_with_http_info(call_analysis_set_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_callanalysisresponseset ..."
      end
      
      
      # verify the required parameter 'call_analysis_set_id' is set
      fail ArgumentError, "Missing the required parameter 'call_analysis_set_id' when calling OutboundApi.delete_outbound_callanalysisresponseset" if call_analysis_set_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/callanalysisresponsesets/{callAnalysisSetId}".sub('{format}','json').sub('{' + 'callAnalysisSetId' + '}', call_analysis_set_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_callanalysisresponseset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a campaign.
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Campaign]
    def delete_outbound_campaign(campaign_id, opts = {})
      data, _status_code, _headers = delete_outbound_campaign_with_http_info(campaign_id, opts)
      return data
    end

    # Delete a campaign.
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Campaign, Fixnum, Hash)>] Campaign data, response status code and response headers
    def delete_outbound_campaign_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_campaign ..."
      end
      
      
      # verify the required parameter 'campaign_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_id' when calling OutboundApi.delete_outbound_campaign" if campaign_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaigns/{campaignId}".sub('{format}','json').sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Campaign')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset campaign progress and recycle the campaign
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_campaign_progress(campaign_id, opts = {})
      delete_outbound_campaign_progress_with_http_info(campaign_id, opts)
      return nil
    end

    # Reset campaign progress and recycle the campaign
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_campaign_progress_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_campaign_progress ..."
      end
      
      
      # verify the required parameter 'campaign_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_id' when calling OutboundApi.delete_outbound_campaign_progress" if campaign_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaigns/{campaignId}/progress".sub('{format}','json').sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_campaign_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Campaign Rule
    # 
    # @param campaign_rule_id Campaign Rule ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_campaignrule(campaign_rule_id, opts = {})
      delete_outbound_campaignrule_with_http_info(campaign_rule_id, opts)
      return nil
    end

    # Delete Campaign Rule
    # 
    # @param campaign_rule_id Campaign Rule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_campaignrule_with_http_info(campaign_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_campaignrule ..."
      end
      
      
      # verify the required parameter 'campaign_rule_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_rule_id' when calling OutboundApi.delete_outbound_campaignrule" if campaign_rule_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaignrules/{campaignRuleId}".sub('{format}','json').sub('{' + 'campaignRuleId' + '}', campaign_rule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_campaignrule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a contact list.
    # 
    # @param contact_list_id ContactList ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_contactlist(contact_list_id, opts = {})
      delete_outbound_contactlist_with_http_info(contact_list_id, opts)
      return nil
    end

    # Delete a contact list.
    # 
    # @param contact_list_id ContactList ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_contactlist_with_http_info(contact_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_contactlist ..."
      end
      
      
      # verify the required parameter 'contact_list_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_id' when calling OutboundApi.delete_outbound_contactlist" if contact_list_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlists/{contactListId}".sub('{format}','json').sub('{' + 'contactListId' + '}', contact_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_contactlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a contact.
    # 
    # @param contact_list_id Contact List ID
    # @param contact_id Contact ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_contactlist_contact(contact_list_id, contact_id, opts = {})
      delete_outbound_contactlist_contact_with_http_info(contact_list_id, contact_id, opts)
      return nil
    end

    # Delete a contact.
    # 
    # @param contact_list_id Contact List ID
    # @param contact_id Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_contactlist_contact_with_http_info(contact_list_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_contactlist_contact ..."
      end
      
      
      # verify the required parameter 'contact_list_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_id' when calling OutboundApi.delete_outbound_contactlist_contact" if contact_list_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'contact_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_id' when calling OutboundApi.delete_outbound_contactlist_contact" if contact_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlists/{contactListId}/contacts/{contactId}".sub('{format}','json').sub('{' + 'contactListId' + '}', contact_list_id.to_s).sub('{' + 'contactId' + '}', contact_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_contactlist_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete contacts from a contact list.
    # 
    # @param contact_list_id Contact List ID
    # @param contact_ids ContactIds to delete.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_contactlist_contacts(contact_list_id, contact_ids, opts = {})
      delete_outbound_contactlist_contacts_with_http_info(contact_list_id, contact_ids, opts)
      return nil
    end

    # Delete contacts from a contact list.
    # 
    # @param contact_list_id Contact List ID
    # @param contact_ids ContactIds to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_contactlist_contacts_with_http_info(contact_list_id, contact_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_contactlist_contacts ..."
      end
      
      
      # verify the required parameter 'contact_list_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_id' when calling OutboundApi.delete_outbound_contactlist_contacts" if contact_list_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'contact_ids' is set
      fail ArgumentError, "Missing the required parameter 'contact_ids' when calling OutboundApi.delete_outbound_contactlist_contacts" if contact_ids.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlists/{contactListId}/contacts".sub('{format}','json').sub('{' + 'contactListId' + '}', contact_list_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'contactIds'] = @api_client.build_collection_param(contact_ids, :multi)

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_contactlist_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Contact List Filter
    # 
    # @param contact_list_filter_id Contact List Filter ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_contactlistfilter(contact_list_filter_id, opts = {})
      delete_outbound_contactlistfilter_with_http_info(contact_list_filter_id, opts)
      return nil
    end

    # Delete Contact List Filter
    # 
    # @param contact_list_filter_id Contact List Filter ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_contactlistfilter_with_http_info(contact_list_filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_contactlistfilter ..."
      end
      
      
      # verify the required parameter 'contact_list_filter_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_filter_id' when calling OutboundApi.delete_outbound_contactlistfilter" if contact_list_filter_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlistfilters/{contactListFilterId}".sub('{format}','json').sub('{' + 'contactListFilterId' + '}', contact_list_filter_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_contactlistfilter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete multiple contact lists.
    # 
    # @param id contact list id(s) to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_contactlists(id, opts = {})
      delete_outbound_contactlists_with_http_info(id, opts)
      return nil
    end

    # Delete multiple contact lists.
    # 
    # @param id contact list id(s) to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_contactlists_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_contactlists ..."
      end
      
      
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling OutboundApi.delete_outbound_contactlists" if id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlists".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'id'] = @api_client.build_collection_param(id, :multi)

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_contactlists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete dialer DNC list
    # 
    # @param dnc_list_id DncList ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_dnclist(dnc_list_id, opts = {})
      delete_outbound_dnclist_with_http_info(dnc_list_id, opts)
      return nil
    end

    # Delete dialer DNC list
    # 
    # @param dnc_list_id DncList ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_dnclist_with_http_info(dnc_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_dnclist ..."
      end
      
      
      # verify the required parameter 'dnc_list_id' is set
      fail ArgumentError, "Missing the required parameter 'dnc_list_id' when calling OutboundApi.delete_outbound_dnclist" if dnc_list_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/dnclists/{dncListId}".sub('{format}','json').sub('{' + 'dncListId' + '}', dnc_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_dnclist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Rule set.
    # 
    # @param rule_set_id Rule Set ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_ruleset(rule_set_id, opts = {})
      delete_outbound_ruleset_with_http_info(rule_set_id, opts)
      return nil
    end

    # Delete a Rule set.
    # 
    # @param rule_set_id Rule Set ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_ruleset_with_http_info(rule_set_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_ruleset ..."
      end
      
      
      # verify the required parameter 'rule_set_id' is set
      fail ArgumentError, "Missing the required parameter 'rule_set_id' when calling OutboundApi.delete_outbound_ruleset" if rule_set_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/rulesets/{ruleSetId}".sub('{format}','json').sub('{' + 'ruleSetId' + '}', rule_set_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_ruleset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a dialer campaign schedule.
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_schedules_campaign(campaign_id, opts = {})
      delete_outbound_schedules_campaign_with_http_info(campaign_id, opts)
      return nil
    end

    # Delete a dialer campaign schedule.
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_schedules_campaign_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_schedules_campaign ..."
      end
      
      
      # verify the required parameter 'campaign_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_id' when calling OutboundApi.delete_outbound_schedules_campaign" if campaign_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/schedules/campaigns/{campaignId}".sub('{format}','json').sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_schedules_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a dialer sequence schedule.
    # 
    # @param sequence_id Sequence ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_schedules_sequence(sequence_id, opts = {})
      delete_outbound_schedules_sequence_with_http_info(sequence_id, opts)
      return nil
    end

    # Delete a dialer sequence schedule.
    # 
    # @param sequence_id Sequence ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_schedules_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_schedules_sequence ..."
      end
      
      
      # verify the required parameter 'sequence_id' is set
      fail ArgumentError, "Missing the required parameter 'sequence_id' when calling OutboundApi.delete_outbound_schedules_sequence" if sequence_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/schedules/sequences/{sequenceId}".sub('{format}','json').sub('{' + 'sequenceId' + '}', sequence_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_schedules_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a dialer campaign sequence.
    # 
    # @param sequence_id Campaign Sequence ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_sequence(sequence_id, opts = {})
      delete_outbound_sequence_with_http_info(sequence_id, opts)
      return nil
    end

    # Delete a dialer campaign sequence.
    # 
    # @param sequence_id Campaign Sequence ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.delete_outbound_sequence ..."
      end
      
      
      # verify the required parameter 'sequence_id' is set
      fail ArgumentError, "Missing the required parameter 'sequence_id' when calling OutboundApi.delete_outbound_sequence" if sequence_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/sequences/{sequenceId}".sub('{format}','json').sub('{' + 'sequenceId' + '}', sequence_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#delete_outbound_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get attempt limits
    # 
    # @param attempt_limits_id Attempt limits ID
    # @param [Hash] opts the optional parameters
    # @return [AttemptLimits]
    def get_outbound_attemptlimit(attempt_limits_id, opts = {})
      data, _status_code, _headers = get_outbound_attemptlimit_with_http_info(attempt_limits_id, opts)
      return data
    end

    # Get attempt limits
    # 
    # @param attempt_limits_id Attempt limits ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttemptLimits, Fixnum, Hash)>] AttemptLimits data, response status code and response headers
    def get_outbound_attemptlimit_with_http_info(attempt_limits_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_attemptlimit ..."
      end
      
      
      # verify the required parameter 'attempt_limits_id' is set
      fail ArgumentError, "Missing the required parameter 'attempt_limits_id' when calling OutboundApi.get_outbound_attemptlimit" if attempt_limits_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/attemptlimits/{attemptLimitsId}".sub('{format}','json').sub('{' + 'attemptLimitsId' + '}', attempt_limits_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AttemptLimits')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_attemptlimit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query attempt limits list
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size (default to 25)
    # @option opts [Integer] :page_number Page number (default to 1)
    # @option opts [String] :filter_type Filter type (default to Prefix)
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order (default to a)
    # @return [AttemptLimitsEntityListing]
    def get_outbound_attemptlimits(opts = {})
      data, _status_code, _headers = get_outbound_attemptlimits_with_http_info(opts)
      return data
    end

    # Query attempt limits list
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size
    # @option opts [Integer] :page_number Page number
    # @option opts [String] :filter_type Filter type
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order
    # @return [Array<(AttemptLimitsEntityListing, Fixnum, Hash)>] AttemptLimitsEntityListing data, response status code and response headers
    def get_outbound_attemptlimits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_attemptlimits ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'filter_type'] && !['Equals', 'RegEx', 'Contains', 'Prefix', 'LessThan', 'LessThanEqualTo', 'GreaterThan', 'GreaterThanEqualTo', 'BeginsWith', 'EndsWith'].include?(opts[:'filter_type'])
        fail ArgumentError, 'invalid value for "filter_type", must be one of Equals, RegEx, Contains, Prefix, LessThan, LessThanEqualTo, GreaterThan, GreaterThanEqualTo, BeginsWith, EndsWith'
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'sort_order'] && !['ascending', 'descending'].include?(opts[:'sort_order'])
        fail ArgumentError, 'invalid value for "sort_order", must be one of ascending, descending'
      end
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/attemptlimits".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'pageSize'] = opts[:'page_size'] if opts[:'page_size']
      query_params[:'pageNumber'] = opts[:'page_number'] if opts[:'page_number']
      query_params[:'filterType'] = opts[:'filter_type'] if opts[:'filter_type']
      query_params[:'name'] = opts[:'name'] if opts[:'name']
      query_params[:'sortBy'] = opts[:'sort_by'] if opts[:'sort_by']
      query_params[:'sortOrder'] = opts[:'sort_order'] if opts[:'sort_order']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AttemptLimitsEntityListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_attemptlimits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get callable time set
    # 
    # @param callable_time_set_id Callable Time Set ID
    # @param [Hash] opts the optional parameters
    # @return [CallableTimeSet]
    def get_outbound_callabletimeset(callable_time_set_id, opts = {})
      data, _status_code, _headers = get_outbound_callabletimeset_with_http_info(callable_time_set_id, opts)
      return data
    end

    # Get callable time set
    # 
    # @param callable_time_set_id Callable Time Set ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallableTimeSet, Fixnum, Hash)>] CallableTimeSet data, response status code and response headers
    def get_outbound_callabletimeset_with_http_info(callable_time_set_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_callabletimeset ..."
      end
      
      
      # verify the required parameter 'callable_time_set_id' is set
      fail ArgumentError, "Missing the required parameter 'callable_time_set_id' when calling OutboundApi.get_outbound_callabletimeset" if callable_time_set_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/callabletimesets/{callableTimeSetId}".sub('{format}','json').sub('{' + 'callableTimeSetId' + '}', callable_time_set_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CallableTimeSet')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_callabletimeset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query callable time set list
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size (default to 25)
    # @option opts [Integer] :page_number Page number (default to 1)
    # @option opts [String] :filter_type Filter type (default to Prefix)
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order (default to a)
    # @return [CallableTimeSetEntityListing]
    def get_outbound_callabletimesets(opts = {})
      data, _status_code, _headers = get_outbound_callabletimesets_with_http_info(opts)
      return data
    end

    # Query callable time set list
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size
    # @option opts [Integer] :page_number Page number
    # @option opts [String] :filter_type Filter type
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order
    # @return [Array<(CallableTimeSetEntityListing, Fixnum, Hash)>] CallableTimeSetEntityListing data, response status code and response headers
    def get_outbound_callabletimesets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_callabletimesets ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'filter_type'] && !['Equals', 'RegEx', 'Contains', 'Prefix', 'LessThan', 'LessThanEqualTo', 'GreaterThan', 'GreaterThanEqualTo', 'BeginsWith', 'EndsWith'].include?(opts[:'filter_type'])
        fail ArgumentError, 'invalid value for "filter_type", must be one of Equals, RegEx, Contains, Prefix, LessThan, LessThanEqualTo, GreaterThan, GreaterThanEqualTo, BeginsWith, EndsWith'
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'sort_order'] && !['ascending', 'descending'].include?(opts[:'sort_order'])
        fail ArgumentError, 'invalid value for "sort_order", must be one of ascending, descending'
      end
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/callabletimesets".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'pageSize'] = opts[:'page_size'] if opts[:'page_size']
      query_params[:'pageNumber'] = opts[:'page_number'] if opts[:'page_number']
      query_params[:'filterType'] = opts[:'filter_type'] if opts[:'filter_type']
      query_params[:'name'] = opts[:'name'] if opts[:'name']
      query_params[:'sortBy'] = opts[:'sort_by'] if opts[:'sort_by']
      query_params[:'sortOrder'] = opts[:'sort_order'] if opts[:'sort_order']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CallableTimeSetEntityListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_callabletimesets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a dialer call analysis response set.
    # 
    # @param call_analysis_set_id Call Analysis Response Set ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSet]
    def get_outbound_callanalysisresponseset(call_analysis_set_id, opts = {})
      data, _status_code, _headers = get_outbound_callanalysisresponseset_with_http_info(call_analysis_set_id, opts)
      return data
    end

    # Get a dialer call analysis response set.
    # 
    # @param call_analysis_set_id Call Analysis Response Set ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSet, Fixnum, Hash)>] ResponseSet data, response status code and response headers
    def get_outbound_callanalysisresponseset_with_http_info(call_analysis_set_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_callanalysisresponseset ..."
      end
      
      
      # verify the required parameter 'call_analysis_set_id' is set
      fail ArgumentError, "Missing the required parameter 'call_analysis_set_id' when calling OutboundApi.get_outbound_callanalysisresponseset" if call_analysis_set_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/callanalysisresponsesets/{callAnalysisSetId}".sub('{format}','json').sub('{' + 'callAnalysisSetId' + '}', call_analysis_set_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseSet')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_callanalysisresponseset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query a list of dialer call analysis response sets.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size (default to 25)
    # @option opts [Integer] :page_number Page number (default to 1)
    # @option opts [String] :filter_type Filter type (default to Prefix)
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order (default to a)
    # @return [ResponseSetEntityListing]
    def get_outbound_callanalysisresponsesets(opts = {})
      data, _status_code, _headers = get_outbound_callanalysisresponsesets_with_http_info(opts)
      return data
    end

    # Query a list of dialer call analysis response sets.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size
    # @option opts [Integer] :page_number Page number
    # @option opts [String] :filter_type Filter type
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order
    # @return [Array<(ResponseSetEntityListing, Fixnum, Hash)>] ResponseSetEntityListing data, response status code and response headers
    def get_outbound_callanalysisresponsesets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_callanalysisresponsesets ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'filter_type'] && !['Equals', 'RegEx', 'Contains', 'Prefix', 'LessThan', 'LessThanEqualTo', 'GreaterThan', 'GreaterThanEqualTo', 'BeginsWith', 'EndsWith'].include?(opts[:'filter_type'])
        fail ArgumentError, 'invalid value for "filter_type", must be one of Equals, RegEx, Contains, Prefix, LessThan, LessThanEqualTo, GreaterThan, GreaterThanEqualTo, BeginsWith, EndsWith'
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'sort_order'] && !['ascending', 'descending'].include?(opts[:'sort_order'])
        fail ArgumentError, 'invalid value for "sort_order", must be one of ascending, descending'
      end
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/callanalysisresponsesets".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'pageSize'] = opts[:'page_size'] if opts[:'page_size']
      query_params[:'pageNumber'] = opts[:'page_number'] if opts[:'page_number']
      query_params[:'filterType'] = opts[:'filter_type'] if opts[:'filter_type']
      query_params[:'name'] = opts[:'name'] if opts[:'name']
      query_params[:'sortBy'] = opts[:'sort_by'] if opts[:'sort_by']
      query_params[:'sortOrder'] = opts[:'sort_order'] if opts[:'sort_order']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseSetEntityListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_callanalysisresponsesets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get dialer campaign.
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Campaign]
    def get_outbound_campaign(campaign_id, opts = {})
      data, _status_code, _headers = get_outbound_campaign_with_http_info(campaign_id, opts)
      return data
    end

    # Get dialer campaign.
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Campaign, Fixnum, Hash)>] Campaign data, response status code and response headers
    def get_outbound_campaign_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_campaign ..."
      end
      
      
      # verify the required parameter 'campaign_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_id' when calling OutboundApi.get_outbound_campaign" if campaign_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaigns/{campaignId}".sub('{format}','json').sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Campaign')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get campaign diagnostics
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [CampaignDiagnostics]
    def get_outbound_campaign_diagnostics(campaign_id, opts = {})
      data, _status_code, _headers = get_outbound_campaign_diagnostics_with_http_info(campaign_id, opts)
      return data
    end

    # Get campaign diagnostics
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignDiagnostics, Fixnum, Hash)>] CampaignDiagnostics data, response status code and response headers
    def get_outbound_campaign_diagnostics_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_campaign_diagnostics ..."
      end
      
      
      # verify the required parameter 'campaign_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_id' when calling OutboundApi.get_outbound_campaign_diagnostics" if campaign_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaigns/{campaignId}/diagnostics".sub('{format}','json').sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CampaignDiagnostics')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_campaign_diagnostics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get dialer campaign interactions.
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [CampaignInteractions]
    def get_outbound_campaign_interactions(campaign_id, opts = {})
      data, _status_code, _headers = get_outbound_campaign_interactions_with_http_info(campaign_id, opts)
      return data
    end

    # Get dialer campaign interactions.
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignInteractions, Fixnum, Hash)>] CampaignInteractions data, response status code and response headers
    def get_outbound_campaign_interactions_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_campaign_interactions ..."
      end
      
      
      # verify the required parameter 'campaign_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_id' when calling OutboundApi.get_outbound_campaign_interactions" if campaign_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaigns/{campaignId}/interactions".sub('{format}','json').sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CampaignInteractions')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_campaign_interactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get campaign progress
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [CampaignProgress]
    def get_outbound_campaign_progress(campaign_id, opts = {})
      data, _status_code, _headers = get_outbound_campaign_progress_with_http_info(campaign_id, opts)
      return data
    end

    # Get campaign progress
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignProgress, Fixnum, Hash)>] CampaignProgress data, response status code and response headers
    def get_outbound_campaign_progress_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_campaign_progress ..."
      end
      
      
      # verify the required parameter 'campaign_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_id' when calling OutboundApi.get_outbound_campaign_progress" if campaign_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaigns/{campaignId}/progress".sub('{format}','json').sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CampaignProgress')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_campaign_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get statistics about a Dialer Campaign
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [CampaignStats]
    def get_outbound_campaign_stats(campaign_id, opts = {})
      data, _status_code, _headers = get_outbound_campaign_stats_with_http_info(campaign_id, opts)
      return data
    end

    # Get statistics about a Dialer Campaign
    # 
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignStats, Fixnum, Hash)>] CampaignStats data, response status code and response headers
    def get_outbound_campaign_stats_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_campaign_stats ..."
      end
      
      
      # verify the required parameter 'campaign_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_id' when calling OutboundApi.get_outbound_campaign_stats" if campaign_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaigns/{campaignId}/stats".sub('{format}','json').sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CampaignStats')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_campaign_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Campaign Rule
    # 
    # @param campaign_rule_id Campaign Rule ID
    # @param [Hash] opts the optional parameters
    # @return [CampaignRule]
    def get_outbound_campaignrule(campaign_rule_id, opts = {})
      data, _status_code, _headers = get_outbound_campaignrule_with_http_info(campaign_rule_id, opts)
      return data
    end

    # Get Campaign Rule
    # 
    # @param campaign_rule_id Campaign Rule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CampaignRule, Fixnum, Hash)>] CampaignRule data, response status code and response headers
    def get_outbound_campaignrule_with_http_info(campaign_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_campaignrule ..."
      end
      
      
      # verify the required parameter 'campaign_rule_id' is set
      fail ArgumentError, "Missing the required parameter 'campaign_rule_id' when calling OutboundApi.get_outbound_campaignrule" if campaign_rule_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaignrules/{campaignRuleId}".sub('{format}','json').sub('{' + 'campaignRuleId' + '}', campaign_rule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CampaignRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_campaignrule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query Campaign Rule list
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size (default to 25)
    # @option opts [Integer] :page_number Page number (default to 1)
    # @option opts [String] :filter_type Filter type (default to Prefix)
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order (default to a)
    # @return [CampaignRuleEntityListing]
    def get_outbound_campaignrules(opts = {})
      data, _status_code, _headers = get_outbound_campaignrules_with_http_info(opts)
      return data
    end

    # Query Campaign Rule list
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size
    # @option opts [Integer] :page_number Page number
    # @option opts [String] :filter_type Filter type
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order
    # @return [Array<(CampaignRuleEntityListing, Fixnum, Hash)>] CampaignRuleEntityListing data, response status code and response headers
    def get_outbound_campaignrules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_campaignrules ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'filter_type'] && !['Equals', 'RegEx', 'Contains', 'Prefix', 'LessThan', 'LessThanEqualTo', 'GreaterThan', 'GreaterThanEqualTo', 'BeginsWith', 'EndsWith'].include?(opts[:'filter_type'])
        fail ArgumentError, 'invalid value for "filter_type", must be one of Equals, RegEx, Contains, Prefix, LessThan, LessThanEqualTo, GreaterThan, GreaterThanEqualTo, BeginsWith, EndsWith'
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'sort_order'] && !['ascending', 'descending'].include?(opts[:'sort_order'])
        fail ArgumentError, 'invalid value for "sort_order", must be one of ascending, descending'
      end
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaignrules".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'pageSize'] = opts[:'page_size'] if opts[:'page_size']
      query_params[:'pageNumber'] = opts[:'page_number'] if opts[:'page_number']
      query_params[:'filterType'] = opts[:'filter_type'] if opts[:'filter_type']
      query_params[:'name'] = opts[:'name'] if opts[:'name']
      query_params[:'sortBy'] = opts[:'sort_by'] if opts[:'sort_by']
      query_params[:'sortOrder'] = opts[:'sort_order'] if opts[:'sort_order']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CampaignRuleEntityListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_campaignrules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query a list of dialer campaigns.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size (default to 25)
    # @option opts [Integer] :page_number Page number (default to 1)
    # @option opts [String] :filter_type Filter type (default to Prefix)
    # @option opts [String] :name Name
    # @option opts [String] :contact_list_id Contact List ID
    # @option opts [String] :dnc_list_id DNC list ID
    # @option opts [String] :distribution_queue_id Distribution queue ID
    # @option opts [String] :edge_group_id Edge group ID
    # @option opts [String] :call_analysis_response_set_id Call analysis response set ID
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order (default to a)
    # @return [CampaignEntityListing]
    def get_outbound_campaigns(opts = {})
      data, _status_code, _headers = get_outbound_campaigns_with_http_info(opts)
      return data
    end

    # Query a list of dialer campaigns.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size
    # @option opts [Integer] :page_number Page number
    # @option opts [String] :filter_type Filter type
    # @option opts [String] :name Name
    # @option opts [String] :contact_list_id Contact List ID
    # @option opts [String] :dnc_list_id DNC list ID
    # @option opts [String] :distribution_queue_id Distribution queue ID
    # @option opts [String] :edge_group_id Edge group ID
    # @option opts [String] :call_analysis_response_set_id Call analysis response set ID
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order
    # @return [Array<(CampaignEntityListing, Fixnum, Hash)>] CampaignEntityListing data, response status code and response headers
    def get_outbound_campaigns_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_campaigns ..."
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'filter_type'] && !['Equals', 'RegEx', 'Contains', 'Prefix', 'LessThan', 'LessThanEqualTo', 'GreaterThan', 'GreaterThanEqualTo', 'BeginsWith', 'EndsWith'].include?(opts[:'filter_type'])
        fail ArgumentError, 'invalid value for "filter_type", must be one of Equals, RegEx, Contains, Prefix, LessThan, LessThanEqualTo, GreaterThan, GreaterThanEqualTo, BeginsWith, EndsWith'
      end
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      if opts[:'sort_order'] && !['ascending', 'descending'].include?(opts[:'sort_order'])
        fail ArgumentError, 'invalid value for "sort_order", must be one of ascending, descending'
      end
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/campaigns".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'pageSize'] = opts[:'page_size'] if opts[:'page_size']
      query_params[:'pageNumber'] = opts[:'page_number'] if opts[:'page_number']
      query_params[:'filterType'] = opts[:'filter_type'] if opts[:'filter_type']
      query_params[:'name'] = opts[:'name'] if opts[:'name']
      query_params[:'contactListId'] = opts[:'contact_list_id'] if opts[:'contact_list_id']
      query_params[:'dncListId'] = opts[:'dnc_list_id'] if opts[:'dnc_list_id']
      query_params[:'distributionQueueId'] = opts[:'distribution_queue_id'] if opts[:'distribution_queue_id']
      query_params[:'edgeGroupId'] = opts[:'edge_group_id'] if opts[:'edge_group_id']
      query_params[:'callAnalysisResponseSetId'] = opts[:'call_analysis_response_set_id'] if opts[:'call_analysis_response_set_id']
      query_params[:'sortBy'] = opts[:'sort_by'] if opts[:'sort_by']
      query_params[:'sortOrder'] = opts[:'sort_order'] if opts[:'sort_order']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CampaignEntityListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_campaigns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a dialer contact list.
    # 
    # @param contact_list_id ContactList ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_import_status Import status (default to false)
    # @option opts [BOOLEAN] :include_size Include size (default to false)
    # @return [ContactList]
    def get_outbound_contactlist(contact_list_id, opts = {})
      data, _status_code, _headers = get_outbound_contactlist_with_http_info(contact_list_id, opts)
      return data
    end

    # Get a dialer contact list.
    # 
    # @param contact_list_id ContactList ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_import_status Import status
    # @option opts [BOOLEAN] :include_size Include size
    # @return [Array<(ContactList, Fixnum, Hash)>] ContactList data, response status code and response headers
    def get_outbound_contactlist_with_http_info(contact_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_contactlist ..."
      end
      
      
      # verify the required parameter 'contact_list_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_id' when calling OutboundApi.get_outbound_contactlist" if contact_list_id.nil?
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlists/{contactListId}".sub('{format}','json').sub('{' + 'contactListId' + '}', contact_list_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'includeImportStatus'] = opts[:'include_import_status'] if opts[:'include_import_status']
      query_params[:'includeSize'] = opts[:'include_size'] if opts[:'include_size']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContactList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_contactlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a contact.
    # 
    # @param contact_list_id Contact List ID
    # @param contact_id Contact ID
    # @param [Hash] opts the optional parameters
    # @return [DialerContact]
    def get_outbound_contactlist_contact(contact_list_id, contact_id, opts = {})
      data, _status_code, _headers = get_outbound_contactlist_contact_with_http_info(contact_list_id, contact_id, opts)
      return data
    end

    # Get a contact.
    # 
    # @param contact_list_id Contact List ID
    # @param contact_id Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DialerContact, Fixnum, Hash)>] DialerContact data, response status code and response headers
    def get_outbound_contactlist_contact_with_http_info(contact_list_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_contactlist_contact ..."
      end
      
      
      # verify the required parameter 'contact_list_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_id' when calling OutboundApi.get_outbound_contactlist_contact" if contact_list_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'contact_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_id' when calling OutboundApi.get_outbound_contactlist_contact" if contact_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlists/{contactListId}/contacts/{contactId}".sub('{format}','json').sub('{' + 'contactListId' + '}', contact_list_id.to_s).sub('{' + 'contactId' + '}', contact_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DialerContact')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_contactlist_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the URI of a contact list export.
    # 
    # @param contact_list_id ContactList ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :download Redirect to download uri (default to false)
    # @return [ExportUri]
    def get_outbound_contactlist_export(contact_list_id, opts = {})
      data, _status_code, _headers = get_outbound_contactlist_export_with_http_info(contact_list_id, opts)
      return data
    end

    # Get the URI of a contact list export.
    # 
    # @param contact_list_id ContactList ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :download Redirect to download uri
    # @return [Array<(ExportUri, Fixnum, Hash)>] ExportUri data, response status code and response headers
    def get_outbound_contactlist_export_with_http_info(contact_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_contactlist_export ..."
      end
      
      
      # verify the required parameter 'contact_list_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_id' when calling OutboundApi.get_outbound_contactlist_export" if contact_list_id.nil?
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlists/{contactListId}/export".sub('{format}','json').sub('{' + 'contactListId' + '}', contact_list_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'download'] = opts[:'download'] if opts[:'download']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExportUri')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_contactlist_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get dialer contactList import status.
    # 
    # @param contact_list_id ContactList ID
    # @param [Hash] opts the optional parameters
    # @return [ImportStatus]
    def get_outbound_contactlist_importstatus(contact_list_id, opts = {})
      data, _status_code, _headers = get_outbound_contactlist_importstatus_with_http_info(contact_list_id, opts)
      return data
    end

    # Get dialer contactList import status.
    # 
    # @param contact_list_id ContactList ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportStatus, Fixnum, Hash)>] ImportStatus data, response status code and response headers
    def get_outbound_contactlist_importstatus_with_http_info(contact_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_contactlist_importstatus ..."
      end
      
      
      # verify the required parameter 'contact_list_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_id' when calling OutboundApi.get_outbound_contactlist_importstatus" if contact_list_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlists/{contactListId}/importstatus".sub('{format}','json').sub('{' + 'contactListId' + '}', contact_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ImportStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_contactlist_importstatus\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Contact list filter
    # 
    # @param contact_list_filter_id Contact List Filter ID
    # @param [Hash] opts the optional parameters
    # @return [ContactListFilter]
    def get_outbound_contactlistfilter(contact_list_filter_id, opts = {})
      data, _status_code, _headers = get_outbound_contactlistfilter_with_http_info(contact_list_filter_id, opts)
      return data
    end

    # Get Contact list filter
    # 
    # @param contact_list_filter_id Contact List Filter ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactListFilter, Fixnum, Hash)>] ContactListFilter data, response status code and response headers
    def get_outbound_contactlistfilter_with_http_info(contact_list_filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OutboundApi.get_outbound_contactlistfilter ..."
      end
      
      
      # verify the required parameter 'contact_list_filter_id' is set
      fail ArgumentError, "Missing the required parameter 'contact_list_filter_id' when calling OutboundApi.get_outbound_contactlistfilter" if contact_list_filter_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/outbound/contactlistfilters/{contactListFilterId}".sub('{format}','json').sub('{' + 'contactListFilterId' + '}', contact_list_filter_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud Auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContactListFilter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundApi#get_outbound_contactlistfilter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query Contact list filters
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size (default to 25)
    # @option opts [Integer] :page_number Page number (default to 1)
    # @option opts [String] :filter_type Filter type (default to Prefix)
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order (default to a)
    # @option opts [String] :contact_list_id Contact List ID
    # @return [ContactListFilterEntityListing]
    def get_outbound_contactlistfilters(opts = {})
      data, _status_code, _headers = get_outbound_contactlistfilters_with_http_info(opts)
      return data
    end

    # Query Contact list filters
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Page size
    # @option opts [Integer] :page_number Page number
    # @option opts [String] :filter_type Filter type
    # @option opts [String] :name Name
    # @option opts [String] :sort_by Sort by
    # @option opts [String] :sort_order Sort order
    # @option opts [String] :contact_list_id Contact List ID
[...]
