=begin
PureCloud Platform API

With the PureCloud Platform API, you can control all aspects of your PureCloud environment. With the APIs you can access the system configuration, manage conversations and more.

OpenAPI spec version: v2
Contact: DeveloperEvangelists@genesys.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

License: UNLICENSED
https://help.mypurecloud.com/articles/terms-and-conditions/

Terms of Service: https://help.mypurecloud.com/articles/terms-and-conditions/

=end

require "uri"

module PureCloud
  class WorkforceManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete business unit
    # A business unit cannot be deleted if it contains one or more management units
    # @param business_unit_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_businessunit(business_unit_id, opts = {})
      delete_workforcemanagement_businessunit_with_http_info(business_unit_id, opts)
      return nil
    end

    # Delete business unit
    # A business unit cannot be deleted if it contains one or more management units
    # @param business_unit_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_businessunit_with_http_info(business_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_businessunit ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit" if business_unit_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_businessunit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an activity code
    # 
    # @param bu_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param ac_id The ID of the activity code to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_businessunit_activitycode(bu_id, ac_id, opts = {})
      delete_workforcemanagement_businessunit_activitycode_with_http_info(bu_id, ac_id, opts)
      return nil
    end

    # Deletes an activity code
    # 
    # @param bu_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param ac_id The ID of the activity code to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_businessunit_activitycode_with_http_info(bu_id, ac_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_businessunit_activitycode ..."
      end
      
      
      # verify the required parameter 'bu_id' is set
      fail ArgumentError, "Missing the required parameter 'bu_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_activitycode" if bu_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'ac_id' is set
      fail ArgumentError, "Missing the required parameter 'ac_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_activitycode" if ac_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{buId}/activitycodes/{acId}".sub('{format}','json').sub('{' + 'buId' + '}', bu_id.to_s).sub('{' + 'acId' + '}', ac_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_businessunit_activitycode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the planning group
    # 
    # @param business_unit_id The ID of the business unit.
    # @param planning_group_id The ID of a planning group to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_businessunit_planninggroup(business_unit_id, planning_group_id, opts = {})
      delete_workforcemanagement_businessunit_planninggroup_with_http_info(business_unit_id, planning_group_id, opts)
      return nil
    end

    # Deletes the planning group
    # 
    # @param business_unit_id The ID of the business unit.
    # @param planning_group_id The ID of a planning group to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_businessunit_planninggroup_with_http_info(business_unit_id, planning_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_businessunit_planninggroup ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_planninggroup" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'planning_group_id' is set
      fail ArgumentError, "Missing the required parameter 'planning_group_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_planninggroup" if planning_group_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/planninggroups/{planningGroupId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'planningGroupId' + '}', planning_group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_businessunit_planninggroup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a scheduling run
    # 
    # @param business_unit_id The ID of the business unit
    # @param run_id The ID of the schedule run
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_businessunit_scheduling_run(business_unit_id, run_id, opts = {})
      delete_workforcemanagement_businessunit_scheduling_run_with_http_info(business_unit_id, run_id, opts)
      return nil
    end

    # Cancel a scheduling run
    # 
    # @param business_unit_id The ID of the business unit
    # @param run_id The ID of the schedule run
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_businessunit_scheduling_run_with_http_info(business_unit_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_businessunit_scheduling_run ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_scheduling_run" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'run_id' is set
      fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_scheduling_run" if run_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/scheduling/runs/{runId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_businessunit_scheduling_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a service goal template
    # 
    # @param business_unit_id The ID of the business unit.
    # @param service_goal_template_id The ID of the service goal template to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_businessunit_servicegoaltemplate(business_unit_id, service_goal_template_id, opts = {})
      delete_workforcemanagement_businessunit_servicegoaltemplate_with_http_info(business_unit_id, service_goal_template_id, opts)
      return nil
    end

    # Delete a service goal template
    # 
    # @param business_unit_id The ID of the business unit.
    # @param service_goal_template_id The ID of the service goal template to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_businessunit_servicegoaltemplate_with_http_info(business_unit_id, service_goal_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_businessunit_servicegoaltemplate ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_servicegoaltemplate" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'service_goal_template_id' is set
      fail ArgumentError, "Missing the required parameter 'service_goal_template_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_servicegoaltemplate" if service_goal_template_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/servicegoaltemplates/{serviceGoalTemplateId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'serviceGoalTemplateId' + '}', service_goal_template_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_businessunit_servicegoaltemplate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a schedule
    # 
    # @param business_unit_id The ID of the business unit
    # @param week_id First day of schedule week in yyyy-MM-dd format. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param schedule_id The ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [BuAsyncScheduleResponse]
    def delete_workforcemanagement_businessunit_week_schedule(business_unit_id, week_id, schedule_id, opts = {})
      data, _status_code, _headers = delete_workforcemanagement_businessunit_week_schedule_with_http_info(business_unit_id, week_id, schedule_id, opts)
      return data
    end

    # Delete a schedule
    # 
    # @param business_unit_id The ID of the business unit
    # @param week_id First day of schedule week in yyyy-MM-dd format. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param schedule_id The ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(BuAsyncScheduleResponse, Fixnum, Hash)>] BuAsyncScheduleResponse data, response status code and response headers
    def delete_workforcemanagement_businessunit_week_schedule_with_http_info(business_unit_id, week_id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_businessunit_week_schedule ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_week_schedule" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'week_id' is set
      fail ArgumentError, "Missing the required parameter 'week_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_week_schedule" if week_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'schedule_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_week_schedule" if schedule_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/weeks/{weekId}/schedules/{scheduleId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'weekId' + '}', week_id.to_s).sub('{' + 'scheduleId' + '}', schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BuAsyncScheduleResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_businessunit_week_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a short term forecast
    # Must not be tied to any schedules
    # @param business_unit_id The business unit ID of the business unit to which the forecast belongs
    # @param week_date_id The week start date of the forecast in yyyy-MM-dd format. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param forecast_id The ID of the forecast
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_businessunit_week_shorttermforecast(business_unit_id, week_date_id, forecast_id, opts = {})
      delete_workforcemanagement_businessunit_week_shorttermforecast_with_http_info(business_unit_id, week_date_id, forecast_id, opts)
      return nil
    end

    # Delete a short term forecast
    # Must not be tied to any schedules
    # @param business_unit_id The business unit ID of the business unit to which the forecast belongs
    # @param week_date_id The week start date of the forecast in yyyy-MM-dd format. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param forecast_id The ID of the forecast
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_businessunit_week_shorttermforecast_with_http_info(business_unit_id, week_date_id, forecast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_businessunit_week_shorttermforecast ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_week_shorttermforecast" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'week_date_id' is set
      fail ArgumentError, "Missing the required parameter 'week_date_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_week_shorttermforecast" if week_date_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'forecast_id' is set
      fail ArgumentError, "Missing the required parameter 'forecast_id' when calling WorkforceManagementApi.delete_workforcemanagement_businessunit_week_shorttermforecast" if forecast_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/weeks/{weekDateId}/shorttermforecasts/{forecastId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'weekDateId' + '}', week_date_id.to_s).sub('{' + 'forecastId' + '}', forecast_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_businessunit_week_shorttermforecast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete management unit
    # 
    # @param mu_id The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_managementunit(mu_id, opts = {})
      delete_workforcemanagement_managementunit_with_http_info(mu_id, opts)
      return nil
    end

    # Delete management unit
    # 
    # @param mu_id The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_managementunit_with_http_info(mu_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_managementunit ..."
      end
      
      
      # verify the required parameter 'mu_id' is set
      fail ArgumentError, "Missing the required parameter 'mu_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit" if mu_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/managementunits/{muId}".sub('{format}','json').sub('{' + 'muId' + '}', mu_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_managementunit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deprecated/Gone: Use the new business unit activity code resources
    # 
    # @param mu_id The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param ac_id The ID of the activity code to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_managementunit_activitycode(mu_id, ac_id, opts = {})
      delete_workforcemanagement_managementunit_activitycode_with_http_info(mu_id, ac_id, opts)
      return nil
    end

    # Deprecated/Gone: Use the new business unit activity code resources
    # 
    # @param mu_id The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param ac_id The ID of the activity code to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_managementunit_activitycode_with_http_info(mu_id, ac_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_managementunit_activitycode ..."
      end
      
      
      # verify the required parameter 'mu_id' is set
      fail ArgumentError, "Missing the required parameter 'mu_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_activitycode" if mu_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'ac_id' is set
      fail ArgumentError, "Missing the required parameter 'ac_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_activitycode" if ac_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/managementunits/{muId}/activitycodes/{acId}".sub('{format}','json').sub('{' + 'muId' + '}', mu_id.to_s).sub('{' + 'acId' + '}', ac_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_managementunit_activitycode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gone.  Scheduling has moved under business units
    # 
    # @param management_unit_id (Deprecated/gone): The ID of the management unit.
    # @param run_id The ID of the schedule run
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_managementunit_scheduling_run(management_unit_id, run_id, opts = {})
      delete_workforcemanagement_managementunit_scheduling_run_with_http_info(management_unit_id, run_id, opts)
      return nil
    end

    # Gone.  Scheduling has moved under business units
    # 
    # @param management_unit_id (Deprecated/gone): The ID of the management unit.
    # @param run_id The ID of the schedule run
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_managementunit_scheduling_run_with_http_info(management_unit_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_managementunit_scheduling_run ..."
      end
      
      
      # verify the required parameter 'management_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'management_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_scheduling_run" if management_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'run_id' is set
      fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_scheduling_run" if run_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/managementunits/{managementUnitId}/scheduling/runs/{runId}".sub('{format}','json').sub('{' + 'managementUnitId' + '}', management_unit_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_managementunit_scheduling_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gone. Replaced with service goal templates and planning groups under business units
    # 
    # @param management_unit_id (Deprecated/gone): The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param service_goal_group_id Gone. The ID of the service goal group to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_managementunit_servicegoalgroup(management_unit_id, service_goal_group_id, opts = {})
      delete_workforcemanagement_managementunit_servicegoalgroup_with_http_info(management_unit_id, service_goal_group_id, opts)
      return nil
    end

    # Gone. Replaced with service goal templates and planning groups under business units
    # 
    # @param management_unit_id (Deprecated/gone): The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param service_goal_group_id Gone. The ID of the service goal group to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_managementunit_servicegoalgroup_with_http_info(management_unit_id, service_goal_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_managementunit_servicegoalgroup ..."
      end
      
      
      # verify the required parameter 'management_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'management_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_servicegoalgroup" if management_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'service_goal_group_id' is set
      fail ArgumentError, "Missing the required parameter 'service_goal_group_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_servicegoalgroup" if service_goal_group_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/managementunits/{managementUnitId}/servicegoalgroups/{serviceGoalGroupId}".sub('{format}','json').sub('{' + 'managementUnitId' + '}', management_unit_id.to_s).sub('{' + 'serviceGoalGroupId' + '}', service_goal_group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_managementunit_servicegoalgroup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gone.  Scheduling has moved under business units
    # 
    # @param management_unit_id The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param week_id First day of schedule week in yyyy-MM-dd format.
    # @param schedule_id Gone/deprecated. The ID of the schedule to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_managementunit_week_schedule(management_unit_id, week_id, schedule_id, opts = {})
      delete_workforcemanagement_managementunit_week_schedule_with_http_info(management_unit_id, week_id, schedule_id, opts)
      return nil
    end

    # Gone.  Scheduling has moved under business units
    # 
    # @param management_unit_id The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param week_id First day of schedule week in yyyy-MM-dd format.
    # @param schedule_id Gone/deprecated. The ID of the schedule to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_managementunit_week_schedule_with_http_info(management_unit_id, week_id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_managementunit_week_schedule ..."
      end
      
      
      # verify the required parameter 'management_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'management_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_week_schedule" if management_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'week_id' is set
      fail ArgumentError, "Missing the required parameter 'week_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_week_schedule" if week_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'schedule_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_week_schedule" if schedule_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/managementunits/{managementUnitId}/weeks/{weekId}/schedules/{scheduleId}".sub('{format}','json').sub('{' + 'managementUnitId' + '}', management_unit_id.to_s).sub('{' + 'weekId' + '}', week_id.to_s).sub('{' + 'scheduleId' + '}', schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_managementunit_week_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gone. Use equivalent business unit resource instead
    # 
    # @param management_unit_id (Deprecated/gone): The id of the management unit.
    # @param week_date_id (Deprecated/gone): The week start date of the forecast in yyyy-MM-dd format
    # @param forecast_id (Gone/Deprecated): The ID of the forecast
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_managementunit_week_shorttermforecast(management_unit_id, week_date_id, forecast_id, opts = {})
      delete_workforcemanagement_managementunit_week_shorttermforecast_with_http_info(management_unit_id, week_date_id, forecast_id, opts)
      return nil
    end

    # Gone. Use equivalent business unit resource instead
    # 
    # @param management_unit_id (Deprecated/gone): The id of the management unit.
    # @param week_date_id (Deprecated/gone): The week start date of the forecast in yyyy-MM-dd format
    # @param forecast_id (Gone/Deprecated): The ID of the forecast
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_managementunit_week_shorttermforecast_with_http_info(management_unit_id, week_date_id, forecast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_managementunit_week_shorttermforecast ..."
      end
      
      
      # verify the required parameter 'management_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'management_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_week_shorttermforecast" if management_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'week_date_id' is set
      fail ArgumentError, "Missing the required parameter 'week_date_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_week_shorttermforecast" if week_date_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'forecast_id' is set
      fail ArgumentError, "Missing the required parameter 'forecast_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_week_shorttermforecast" if forecast_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/managementunits/{managementUnitId}/weeks/{weekDateId}/shorttermforecasts/{forecastId}".sub('{format}','json').sub('{' + 'managementUnitId' + '}', management_unit_id.to_s).sub('{' + 'weekDateId' + '}', week_date_id.to_s).sub('{' + 'forecastId' + '}', forecast_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_managementunit_week_shorttermforecast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a work plan
    # 
    # @param management_unit_id The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param work_plan_id The ID of the work plan to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workforcemanagement_managementunit_workplan(management_unit_id, work_plan_id, opts = {})
      delete_workforcemanagement_managementunit_workplan_with_http_info(management_unit_id, work_plan_id, opts)
      return nil
    end

    # Delete a work plan
    # 
    # @param management_unit_id The ID of the management unit, or &#39;mine&#39; for the management unit of the logged-in user.
    # @param work_plan_id The ID of the work plan to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workforcemanagement_managementunit_workplan_with_http_info(management_unit_id, work_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.delete_workforcemanagement_managementunit_workplan ..."
      end
      
      
      # verify the required parameter 'management_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'management_unit_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_workplan" if management_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'work_plan_id' is set
      fail ArgumentError, "Missing the required parameter 'work_plan_id' when calling WorkforceManagementApi.delete_workforcemanagement_managementunit_workplan" if work_plan_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/managementunits/{managementUnitId}/workplans/{workPlanId}".sub('{format}','json').sub('{' + 'managementUnitId' + '}', management_unit_id.to_s).sub('{' + 'workPlanId' + '}', work_plan_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#delete_workforcemanagement_managementunit_workplan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of UserScheduleAdherence records for the requested users
    # 
    # @param user_id User Id(s) for which to fetch current schedule adherence information.  Min 1, Max of 100 userIds per request
    # @param [Hash] opts the optional parameters
    # @return [Array<UserScheduleAdherence>]
    def get_workforcemanagement_adherence(user_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_adherence_with_http_info(user_id, opts)
      return data
    end

    # Get a list of UserScheduleAdherence records for the requested users
    # 
    # @param user_id User Id(s) for which to fetch current schedule adherence information.  Min 1, Max of 100 userIds per request
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UserScheduleAdherence>, Fixnum, Hash)>] Array<UserScheduleAdherence> data, response status code and response headers
    def get_workforcemanagement_adherence_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_adherence ..."
      end
      
      
      # verify the required parameter 'user_id' is set
      fail ArgumentError, "Missing the required parameter 'user_id' when calling WorkforceManagementApi.get_workforcemanagement_adherence" if user_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/adherence".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'userId'] = @api_client.build_collection_param(user_id, :multi)

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<UserScheduleAdherence>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_adherence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get status of the modeling job
    # 
    # @param job_id The id of the modeling job
    # @param [Hash] opts the optional parameters
    # @return [ModelingStatusResponse]
    def get_workforcemanagement_adhocmodelingjob(job_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_adhocmodelingjob_with_http_info(job_id, opts)
      return data
    end

    # Get status of the modeling job
    # 
    # @param job_id The id of the modeling job
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelingStatusResponse, Fixnum, Hash)>] ModelingStatusResponse data, response status code and response headers
    def get_workforcemanagement_adhocmodelingjob_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_adhocmodelingjob ..."
      end
      
      
      # verify the required parameter 'job_id' is set
      fail ArgumentError, "Missing the required parameter 'job_id' when calling WorkforceManagementApi.get_workforcemanagement_adhocmodelingjob" if job_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/adhocmodelingjobs/{jobId}".sub('{format}','json').sub('{' + 'jobId' + '}', job_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelingStatusResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_adhocmodelingjob\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business unit
    # Expanding \"settings\" will retrieve all settings.  All other expands will retrieve only the requested settings field(s).
    # @param business_unit_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [BusinessUnit]
    def get_workforcemanagement_businessunit(business_unit_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_with_http_info(business_unit_id, opts)
      return data
    end

    # Get business unit
    # Expanding \&quot;settings\&quot; will retrieve all settings.  All other expands will retrieve only the requested settings field(s).
    # @param business_unit_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(BusinessUnit, Fixnum, Hash)>] BusinessUnit data, response status code and response headers
    def get_workforcemanagement_businessunit_with_http_info(business_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit" if business_unit_id.nil?
      
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if opts[:'expand']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BusinessUnit')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an activity code
    # 
    # @param bu_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param ac_id The ID of the activity code to fetch
    # @param [Hash] opts the optional parameters
    # @return [BusinessUnitActivityCode]
    def get_workforcemanagement_businessunit_activitycode(bu_id, ac_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_activitycode_with_http_info(bu_id, ac_id, opts)
      return data
    end

    # Get an activity code
    # 
    # @param bu_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param ac_id The ID of the activity code to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessUnitActivityCode, Fixnum, Hash)>] BusinessUnitActivityCode data, response status code and response headers
    def get_workforcemanagement_businessunit_activitycode_with_http_info(bu_id, ac_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_activitycode ..."
      end
      
      
      # verify the required parameter 'bu_id' is set
      fail ArgumentError, "Missing the required parameter 'bu_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_activitycode" if bu_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'ac_id' is set
      fail ArgumentError, "Missing the required parameter 'ac_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_activitycode" if ac_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{buId}/activitycodes/{acId}".sub('{format}','json').sub('{' + 'buId' + '}', bu_id.to_s).sub('{' + 'acId' + '}', ac_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BusinessUnitActivityCode')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_activitycode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get activity codes
    # 
    # @param bu_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @return [BusinessUnitActivityCodeListing]
    def get_workforcemanagement_businessunit_activitycodes(bu_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_activitycodes_with_http_info(bu_id, opts)
      return data
    end

    # Get activity codes
    # 
    # @param bu_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessUnitActivityCodeListing, Fixnum, Hash)>] BusinessUnitActivityCodeListing data, response status code and response headers
    def get_workforcemanagement_businessunit_activitycodes_with_http_info(bu_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_activitycodes ..."
      end
      
      
      # verify the required parameter 'bu_id' is set
      fail ArgumentError, "Missing the required parameter 'bu_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_activitycodes" if bu_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{buId}/activitycodes".sub('{format}','json').sub('{' + 'buId' + '}', bu_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BusinessUnitActivityCodeListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_activitycodes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get intraday planning groups for the given date
    # 
    # @param business_unit_id The business unit ID of the business unit
    # @param date yyyy-MM-dd date string interpreted in the configured business unit time zone. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param [Hash] opts the optional parameters
    # @return [WfmIntradayPlanningGroupListing]
    def get_workforcemanagement_businessunit_intraday_planninggroups(business_unit_id, date, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_intraday_planninggroups_with_http_info(business_unit_id, date, opts)
      return data
    end

    # Get intraday planning groups for the given date
    # 
    # @param business_unit_id The business unit ID of the business unit
    # @param date yyyy-MM-dd date string interpreted in the configured business unit time zone. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param [Hash] opts the optional parameters
    # @return [Array<(WfmIntradayPlanningGroupListing, Fixnum, Hash)>] WfmIntradayPlanningGroupListing data, response status code and response headers
    def get_workforcemanagement_businessunit_intraday_planninggroups_with_http_info(business_unit_id, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_intraday_planninggroups ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_intraday_planninggroups" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'date' is set
      fail ArgumentError, "Missing the required parameter 'date' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_intraday_planninggroups" if date.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/intraday/planninggroups".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'date'] = date

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WfmIntradayPlanningGroupListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_intraday_planninggroups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all authorized management units in the business unit
    # 
    # @param business_unit_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :feature 
    # @option opts [String] :division_id 
    # @return [ManagementUnitListing]
    def get_workforcemanagement_businessunit_managementunits(business_unit_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_managementunits_with_http_info(business_unit_id, opts)
      return data
    end

    # Get all authorized management units in the business unit
    # 
    # @param business_unit_id The ID of the business unit, or &#39;mine&#39; for the business unit of the logged-in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :feature 
    # @option opts [String] :division_id 
    # @return [Array<(ManagementUnitListing, Fixnum, Hash)>] ManagementUnitListing data, response status code and response headers
    def get_workforcemanagement_businessunit_managementunits_with_http_info(business_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_managementunits ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_managementunits" if business_unit_id.nil?
      
      
      
      
      
      
      
      
      if opts[:'feature'] && !['AgentSchedule', 'AgentTimeOffRequest', 'ActivityCodes', 'Agents', 'BuActivityCodes', 'BusinessUnits', 'HistoricalAdherence', 'IntradayMonitoring', 'BuIntradayMonitoring', 'ManagementUnits', 'RealTimeAdherence', 'Schedules', 'BuSchedules', 'ServiceGoalGroups', 'ServiceGoalTemplates', 'PlanningGroups', 'ShiftTrading', 'ShortTermForecasts', 'BuShortTermForecasts', 'TimeOffRequests', 'WorkPlans'].include?(opts[:'feature'])
        fail ArgumentError, 'invalid value for "feature", must be one of AgentSchedule, AgentTimeOffRequest, ActivityCodes, Agents, BuActivityCodes, BusinessUnits, HistoricalAdherence, IntradayMonitoring, BuIntradayMonitoring, ManagementUnits, RealTimeAdherence, Schedules, BuSchedules, ServiceGoalGroups, ServiceGoalTemplates, PlanningGroups, ShiftTrading, ShortTermForecasts, BuShortTermForecasts, TimeOffRequests, WorkPlans'
      end
      
      
      
      
      
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/managementunits".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'feature'] = opts[:'feature'] if opts[:'feature']
      query_params[:'divisionId'] = opts[:'division_id'] if opts[:'division_id']

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ManagementUnitListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_managementunits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a planning group
    # 
    # @param business_unit_id The ID of the business unit.
    # @param planning_group_id The ID of a planning group to fetch
    # @param [Hash] opts the optional parameters
    # @return [PlanningGroup]
    def get_workforcemanagement_businessunit_planninggroup(business_unit_id, planning_group_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_planninggroup_with_http_info(business_unit_id, planning_group_id, opts)
      return data
    end

    # Get a planning group
    # 
    # @param business_unit_id The ID of the business unit.
    # @param planning_group_id The ID of a planning group to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanningGroup, Fixnum, Hash)>] PlanningGroup data, response status code and response headers
    def get_workforcemanagement_businessunit_planninggroup_with_http_info(business_unit_id, planning_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_planninggroup ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_planninggroup" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'planning_group_id' is set
      fail ArgumentError, "Missing the required parameter 'planning_group_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_planninggroup" if planning_group_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/planninggroups/{planningGroupId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'planningGroupId' + '}', planning_group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PlanningGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_planninggroup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets list of planning groups
    # 
    # @param business_unit_id The ID of the business unit.
    # @param [Hash] opts the optional parameters
    # @return [PlanningGroupList]
    def get_workforcemanagement_businessunit_planninggroups(business_unit_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_planninggroups_with_http_info(business_unit_id, opts)
      return data
    end

    # Gets list of planning groups
    # 
    # @param business_unit_id The ID of the business unit.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlanningGroupList, Fixnum, Hash)>] PlanningGroupList data, response status code and response headers
    def get_workforcemanagement_businessunit_planninggroups_with_http_info(business_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_planninggroups ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_planninggroups" if business_unit_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/planninggroups".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PlanningGroupList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_planninggroups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a scheduling run
    # 
    # @param business_unit_id The ID of the business unit
    # @param run_id The ID of the schedule run
    # @param [Hash] opts the optional parameters
    # @return [BuScheduleRun]
    def get_workforcemanagement_businessunit_scheduling_run(business_unit_id, run_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_scheduling_run_with_http_info(business_unit_id, run_id, opts)
      return data
    end

    # Get a scheduling run
    # 
    # @param business_unit_id The ID of the business unit
    # @param run_id The ID of the schedule run
    # @param [Hash] opts the optional parameters
    # @return [Array<(BuScheduleRun, Fixnum, Hash)>] BuScheduleRun data, response status code and response headers
    def get_workforcemanagement_businessunit_scheduling_run_with_http_info(business_unit_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_run ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_run" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'run_id' is set
      fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_run" if run_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/scheduling/runs/{runId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BuScheduleRun')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_scheduling_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the result of a rescheduling operation
    # 
    # @param business_unit_id The ID of the business unit
    # @param run_id The ID of the schedule run
    # @param management_unit_ids The IDs of the management units for which to fetch the reschedule results
    # @param expand The fields to expand. Omitting will return an empty response
    # @param [Hash] opts the optional parameters
    # @return [BuRescheduleResult]
    def get_workforcemanagement_businessunit_scheduling_run_result(business_unit_id, run_id, management_unit_ids, expand, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_scheduling_run_result_with_http_info(business_unit_id, run_id, management_unit_ids, expand, opts)
      return data
    end

    # Get the result of a rescheduling operation
    # 
    # @param business_unit_id The ID of the business unit
    # @param run_id The ID of the schedule run
    # @param management_unit_ids The IDs of the management units for which to fetch the reschedule results
    # @param expand The fields to expand. Omitting will return an empty response
    # @param [Hash] opts the optional parameters
    # @return [Array<(BuRescheduleResult, Fixnum, Hash)>] BuRescheduleResult data, response status code and response headers
    def get_workforcemanagement_businessunit_scheduling_run_result_with_http_info(business_unit_id, run_id, management_unit_ids, expand, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_run_result ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_run_result" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'run_id' is set
      fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_run_result" if run_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'management_unit_ids' is set
      fail ArgumentError, "Missing the required parameter 'management_unit_ids' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_run_result" if management_unit_ids.nil?
      
      
      
      
      
      
      # verify the required parameter 'expand' is set
      fail ArgumentError, "Missing the required parameter 'expand' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_run_result" if expand.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/scheduling/runs/{runId}/result".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'managementUnitIds'] = @api_client.build_collection_param(management_unit_ids, :multi)
      query_params[:'expand'] = @api_client.build_collection_param(expand, :multi)

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BuRescheduleResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_scheduling_run_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the list of scheduling runs
    # 
    # @param business_unit_id The ID of the business unit
    # @param [Hash] opts the optional parameters
    # @return [BuScheduleRunListing]
    def get_workforcemanagement_businessunit_scheduling_runs(business_unit_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_scheduling_runs_with_http_info(business_unit_id, opts)
      return data
    end

    # Get the list of scheduling runs
    # 
    # @param business_unit_id The ID of the business unit
    # @param [Hash] opts the optional parameters
    # @return [Array<(BuScheduleRunListing, Fixnum, Hash)>] BuScheduleRunListing data, response status code and response headers
    def get_workforcemanagement_businessunit_scheduling_runs_with_http_info(business_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_runs ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_scheduling_runs" if business_unit_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/scheduling/runs".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BuScheduleRunListing')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_scheduling_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a service goal template
    # 
    # @param business_unit_id The ID of the business unit.
    # @param service_goal_template_id The ID of a service goal template to fetch
    # @param [Hash] opts the optional parameters
    # @return [ServiceGoalTemplate]
    def get_workforcemanagement_businessunit_servicegoaltemplate(business_unit_id, service_goal_template_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_servicegoaltemplate_with_http_info(business_unit_id, service_goal_template_id, opts)
      return data
    end

    # Get a service goal template
    # 
    # @param business_unit_id The ID of the business unit.
    # @param service_goal_template_id The ID of a service goal template to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceGoalTemplate, Fixnum, Hash)>] ServiceGoalTemplate data, response status code and response headers
    def get_workforcemanagement_businessunit_servicegoaltemplate_with_http_info(business_unit_id, service_goal_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_servicegoaltemplate ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_servicegoaltemplate" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'service_goal_template_id' is set
      fail ArgumentError, "Missing the required parameter 'service_goal_template_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_servicegoaltemplate" if service_goal_template_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/servicegoaltemplates/{serviceGoalTemplateId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'serviceGoalTemplateId' + '}', service_goal_template_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceGoalTemplate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_servicegoaltemplate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets list of service goal templates
    # 
    # @param business_unit_id The ID of the business unit.
    # @param [Hash] opts the optional parameters
    # @return [ServiceGoalTemplateList]
    def get_workforcemanagement_businessunit_servicegoaltemplates(business_unit_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_servicegoaltemplates_with_http_info(business_unit_id, opts)
      return data
    end

    # Gets list of service goal templates
    # 
    # @param business_unit_id The ID of the business unit.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceGoalTemplateList, Fixnum, Hash)>] ServiceGoalTemplateList data, response status code and response headers
    def get_workforcemanagement_businessunit_servicegoaltemplates_with_http_info(business_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_servicegoaltemplates ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_servicegoaltemplates" if business_unit_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/servicegoaltemplates".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceGoalTemplateList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_servicegoaltemplates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the metadata for the schedule, describing which management units and agents are in the scheduleSchedule data can then be loaded with the query route
    # 
    # @param business_unit_id The ID of the business unit
    # @param week_id First day of schedule week in yyyy-MM-dd format. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param schedule_id The ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [BuScheduleMetadata]
    def get_workforcemanagement_businessunit_week_schedule(business_unit_id, week_id, schedule_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_week_schedule_with_http_info(business_unit_id, week_id, schedule_id, opts)
      return data
    end

    # Get the metadata for the schedule, describing which management units and agents are in the scheduleSchedule data can then be loaded with the query route
    # 
    # @param business_unit_id The ID of the business unit
    # @param week_id First day of schedule week in yyyy-MM-dd format. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param schedule_id The ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(BuScheduleMetadata, Fixnum, Hash)>] BuScheduleMetadata data, response status code and response headers
    def get_workforcemanagement_businessunit_week_schedule_with_http_info(business_unit_id, week_id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_week_schedule ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_week_schedule" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'week_id' is set
      fail ArgumentError, "Missing the required parameter 'week_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_week_schedule" if week_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'schedule_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_week_schedule" if schedule_id.nil?
      
      
      
      
      
      # resource path
      local_var_path = "/api/v2/workforcemanagement/businessunits/{businessUnitId}/weeks/{weekId}/schedules/{scheduleId}".sub('{format}','json').sub('{' + 'businessUnitId' + '}', business_unit_id.to_s).sub('{' + 'weekId' + '}', week_id.to_s).sub('{' + 'scheduleId' + '}', schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      
      auth_names = ['PureCloud OAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BuScheduleMetadata')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkforceManagementApi#get_workforcemanagement_businessunit_week_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the generation results for a generated schedule
    # 
    # @param business_unit_id The ID of the business unit
    # @param week_id First day of schedule week in yyyy-MM-dd format. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param schedule_id The ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [ScheduleGenerationResult]
    def get_workforcemanagement_businessunit_week_schedule_generationresults(business_unit_id, week_id, schedule_id, opts = {})
      data, _status_code, _headers = get_workforcemanagement_businessunit_week_schedule_generationresults_with_http_info(business_unit_id, week_id, schedule_id, opts)
      return data
    end

    # Get the generation results for a generated schedule
    # 
    # @param business_unit_id The ID of the business unit
    # @param week_id First day of schedule week in yyyy-MM-dd format. Dates are represented as an ISO-8601 string. For example: yyyy-MM-dd
    # @param schedule_id The ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleGenerationResult, Fixnum, Hash)>] ScheduleGenerationResult data, response status code and response headers
    def get_workforcemanagement_businessunit_week_schedule_generationresults_with_http_info(business_unit_id, week_id, schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WorkforceManagementApi.get_workforcemanagement_businessunit_week_schedule_generationresults ..."
      end
      
      
      # verify the required parameter 'business_unit_id' is set
      fail ArgumentError, "Missing the required parameter 'business_unit_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_week_schedule_generationresults" if business_unit_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'week_id' is set
      fail ArgumentError, "Missing the required parameter 'week_id' when calling WorkforceManagementApi.get_workforcemanagement_businessunit_week_schedule_generationresults" if week_id.nil?
      
      
      
      
      
      
      # verify the required parameter 'schedule_id' is set
[...]
